<div class="card">
    <div class="card-header">
        <h1>About</h1>
    </div>
    <div class="card-body">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat sequi mollitia dicta ipsum aliquid fuga animi quaerat facere, adipisci possimus quod laborum eos porro eligendi beatae consequuntur iste aut sunt totam consequatur hic! Incidunt ut, reprehenderit accusantium non aliquam explicabo.
        </p>
    </div>
</div>